// mat-card{
//   width: 80%;
//   margin: auto; // Centers the respective div of tag
// }

mat-form-field,
textarea{
  width: 100%;
}

button{
  margin-right: auto;
}

// input[type="file"]{
//   visibility: hidden;
// }

.image-preview{
  width: 15rem;
  height: 10rem;
  // height: 20rem;
  margin: 1rem 0;
}

.image-preview img{
  height: 100%;
  width: 100%;
  margin: 0 5px;
}
