// host targets the element itself
:host{
  display: block;
  margin-top: 1rem;
}

.info-text{
  text-align: center;
}

// button{
//   margin-right: auto;
// }

.profile-img{
  width: 10rem;
  height: 10rem;
  margin: 0 10px;
}

.profile-img img{
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
